main {
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;
    position: relative;
    overflow-y: hidden;
    width: 90%;
}

body {
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
}

.content {
    background-color: white;
    padding: 20px;
    padding-top: 3rem; /* replaced margin-top with padding */
}

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Adding a background to nav for better readability */
}

.nav-item {
    margin-left: 10%;
}

.Projekte {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%; /* Adjusted to ensure 10% padding on both sides */
    margin: 0 auto; /* Centers the grid within the main content area */
    padding-top: 2rem; /* replaced margin-top with padding */
}

.font-head {
    font-size: 20px;
    color: rgb(29, 152, 253);
}

.Inhalt, .fertig, .laufend {
    display: block;
    width: 80%;
}

.beispiel {
    grid-column: span 3;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
    position: relative;
}

.stichprobe {
    width: 100%;
    height: 600px;
    z-index: 1;
    cursor: pointer; /* Makes it clear that the div is clickable */
}

button.popupButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Common styles for all pop-ups */
.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Above other elements */
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.popup-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    z-index: 2;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.footer {
    bottom: 0rem;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.start {
    display: block;
    position: fixed;
    width: 90%;
    height: 100%;
    padding-top: 5%;  /* replaced margin-top with padding */
    padding-left: 5%;
    padding-right: 5%;
}

.vita {
    display: none;
    position: fixed;
    width: 90%;
    height: 100%;
    padding-top: 5%;  /* replaced margin-top with padding */
    padding-left: 5%;
    padding-right: 5%;
}

.contact {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Animation */
@keyframes fadeinall {
    0% {
        opacity: 1;
    }
    97% {
        opacity: 0;
    }
    98% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
        z-index: -1;
    }
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 5%;
    .contact-kind{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.contact-social{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    .media-grid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .media-row{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .user-row{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
        }
    }
}