.Projekte{
    display:grid;
    border-color: black;
    border: 15px;
    .font-head{
        font-size: 20px;
        color:  rgb(29, 152, 253);
    }
    .Inhalt{
        border: 15px black;
        grid-row: 1 / 5;
        grid-column: 1 / 3;
        display:grid;
        grid-auto-flow: row;
    }
    .fertig{
        border: 15px black;
        grid-row: 1 / 5;
        grid-column: 2 / 3;
        display:grid;
        grid-auto-flow: row;
    }
    .laufend{
        border-color: black;
        border: 15px;
        grid-row: 1 / 5;
        grid-column: 3 / 3;
        display:grid;
        grid-auto-flow: row;
    }
}
footer{
    position: absolute;
    bottom: 0%;
}
/* For best practice, move CSS below to an external CSS file. */
@keyframes fadeinall {
0% {
  opacity: 1; }
97% {
  opacity: 0; }
98% {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0); }
100% {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: -1; } }